body {
	background: #E8E8E8;
	margin: 0;
	font-family: "Helvetica", sans-serif;
	line-height: 1.5em;
}

.container {
	width: 600px;
	margin: 0 auto;
}

h1 {
	margin: 10;
	background: #ffffff;
	padding: 12px 10px 10px;
	text-align: right;
}

h2 {
	margin: 15px 0px;
	padding: 3 px;
	text-shadow: 2px 2px 2px #909090;
}

a {
	color: #808080;
	text-decoration: none;
}

a:hover {
	color: #33CCFF;
}

ul {
	list-style: none;
	margin: 0;
	padding: 10px;
	text-align: center;
}

li {
	display:inline-block;
	padding: 1px 30px;
}

.linkstyle2 a {
	color: #3366FF;
	padding: 10px;
	margin: 0px 0px 50px 0px;
}

.linkstyle2 a:hover {
	color: #33CCFF;
	background: #ffffff;
	padding: 10px;
}

.linkstyle2 a:visited {
	border: none;
}

.liststyle2 {
	text-align: left;
	padding: none;
}

.liststyle2 li {
	text-align: left;
}

img {
	margin: 10px 0px;
	border: solid 2px #000000;
}