body {
	background: #E8E8E8;
	margin: 0;
	font-family: "Helvetica", sans-serif;
	line-height: 1.5em;
}

.container {
	width: 600px;
	margin: 0 auto;
}

h1 {
margin: 10;
background: #ffffff;
padding: 10px;
text-align: right;
}

a {
	color: #9999FF;
	text-decoration: none;
}

ul {
	list-style: none;
	margin: 0;
	padding: 0;
	text-align: center;
}

li {
	display:inline;
	padding: 1px 30px;	
}

.linkstyle2 a {
	color: #3366FF;
}

.linkstyle2 a:hover {
	font-size: 18px;
	background: #ffffff;
}

.linkstyle2 {
	width: 600px;
	height: 20px;
}